:root{
    --primary-color: #ECF1F2;
    --secondary-color: #050707;
    --btn-color: #F4D800;
    --cards: #F5F5F5;
}


*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-contianer{
    
}