.menu-contianer{
    width: 100%;
    height: 100vh;
}

/* menu navigation */
.menu-contianer .menu__nav{
    display: flex;
    justify-content: space-between;
    padding: 1% 10%;
}
.menu-contianer .menu__nav #logo{
    font-family: 'Lobster Two', cursive;
}